 <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{ site.content[page.lang].contact }}</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>{{ site.content[page.lang].contactname }}</label>
                                <input type="text" class="form-control" placeholder="{{ site.content[page.lang].contactname }}" id="name" required data-validation-required-message="{{ site.content[page.lang].contactnamereqmsg }}">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>{{ site.content[page.lang].contactemail }}</label>
                                <input type="email" class="form-control" placeholder="{{ site.content[page.lang].contactemail }}" id="email" required data-validation-required-message="{{ site.content[page.lang].contactemailreqmsg }}">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>{{ site.content[page.lang].contactmsg }}</label>
                                <textarea rows="5" class="form-control" placeholder="{{ site.content[page.lang].contactmsg }}" id="message" required data-validation-required-message="{{ site.content[page.lang].contactmsgreqmsg }}"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">{{ site.content[page.lang].contactbutton }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
