<!-- Posts List Section -->
<section id="posts_list">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center"><br>
                    <h2>{{ page.title }}</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1">
                  {% assign posts=site.posts | where:"lang", page.lang %}
                  <ul>
                    {% for post in posts %}
                      <table>
                        <tr>
                          <td><li><small><i>{{ post.date | date: "%d-%m-%Y" }}</i></small></li></td>
                          <td>&nbsp;&nbsp;</td>
                          <td><a href="{{ post.url }}"><h4>{{ post.title }}</h4></a></td>
                        </tr>
                      </table>
                      {{ post.excerpt }}
                    {% endfor %}
                  </ul><br>
                </div>
                </div>
            </div>
        </div>
    </section>
