<!DOCTYPE html>
<html lang="{{ page.lang }}">
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% if page.ref == "contact" or page.ref == "legal" or page.ref == "error" or page.ref == "partners" %}
    <header>
      <section id="content">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
              {{ content }}
            </div>
        </div>
      </div>
      </section>
    </header>
    {% else %}
    <header></header><br><br>
    {% endif %}
    {% if page.ref == "services" %}
    {% include services.html %}
    {% endif %}

    {% if page.ref == "contact" %}
    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% elsif site.contact == "disqus" %}
    {% include contact_disqus.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}
    {% endif %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
